<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Activoo</servlet-name>
        <servlet-class>Controller.Activoo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarActivo</servlet-name>
        <servlet-class>Controller.EliminarActivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarActivos</servlet-name>
        <servlet-class>Controller.BuscarActivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Solicitantee</servlet-name>
        <servlet-class>Controller.Solicitantee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarSolicitantes</servlet-name>
        <servlet-class>Controller.BuscarSolicitantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSolicitantes</servlet-name>
        <servlet-class>Controller.EliminarSolicitantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auxiliarr</servlet-name>
        <servlet-class>Controller.Auxiliarr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAuxiliares</servlet-name>
        <servlet-class>Controller.BuscarAuxiliares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAuxiliares</servlet-name>
        <servlet-class>Controller.EliminarAuxiliares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supervisorr</servlet-name>
        <servlet-class>Controller.Supervisorr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarSupervisores</servlet-name>
        <servlet-class>Controller.BuscarSupervisores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSupervisores</servlet-name>
        <servlet-class>Controller.EliminarSupervisores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAuxiliares</servlet-name>
        <servlet-class>Controller.EditarAuxiliares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarActivos</servlet-name>
        <servlet-class>Controller.EditarActivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarSupervisores</servlet-name>
        <servlet-class>Controller.EditarSupervisores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarSolicitantes</servlet-name>
        <servlet-class>Controller.EditarSolicitantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPrestamos</servlet-name>
        <servlet-class>Controller.EditarPrestamos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantenimientitoPreventivos</servlet-name>
        <servlet-class>Controller.MantenimientitoPreventivos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MantenimientitoPreventivos</servlet-name>
        <url-pattern>/MantenimientitoPreventivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activoo</servlet-name>
        <url-pattern>/Activoo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarActivo</servlet-name>
        <url-pattern>/EliminarActivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarActivos</servlet-name>
        <url-pattern>/BuscarActivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solicitantee</servlet-name>
        <url-pattern>/Solicitantee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarSolicitantes</servlet-name>
        <url-pattern>/BuscarSolicitantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSolicitantes</servlet-name>
        <url-pattern>/EliminarSolicitantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auxiliarr</servlet-name>
        <url-pattern>/Auxiliarr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarAuxiliares</servlet-name>
        <url-pattern>/BuscarAuxiliares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAuxiliares</servlet-name>
        <url-pattern>/EliminarAuxiliares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supervisorr</servlet-name>
        <url-pattern>/Supervisorr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarSupervisores</servlet-name>
        <url-pattern>/BuscarSupervisores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSupervisores</servlet-name>
        <url-pattern>/EliminarSupervisores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAuxiliares</servlet-name>
        <url-pattern>/EditarAuxiliares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarActivos</servlet-name>
        <url-pattern>/EditarActivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarSupervisores</servlet-name>
        <url-pattern>/EditarSupervisores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarSolicitantes</servlet-name>
        <url-pattern>/EditarSolicitantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPrestamos</servlet-name>
        <url-pattern>/EditarPrestamos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>